* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(5, 5, 81);
  display: flex;
  justify-content: center;
}

#area {
  background: #fff;
  width: 400px;
  aspect-ratio: 1;
  margin-top: 80px;
  overflow: hidden;
}

#object {
  background: orange;
  width: 60px;
  aspect-ratio: 1;
  transform: translateY(-100%);
  position: relative;
}

#object.is-moving {
  animation-name: movement;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* анимация движения объекта (определение) */
@keyframes movement {
  to {
    transform: translateY(400px);
  }
}
